
  
  {include="header"}
<title>标签{$word}下的文章 - {$webconf['web_name']}</title>
{include="js"}

{include="daohang"}
<!--e-->  
	<div id="percentageCounter"></div>
	</div><!-- .top-bar -->
	<div class="container">
	<main id="main" class="site-main">	<div class="row">	
		<div class="col-md-9 contpost" >		
		        <header>
                    <div class="widget-list-title"><i class="icon iconfont icon-wenjuan"></i> <span>{$jz['keywords']}</span></div>
                </header>		
				<div class="row" id="content">	
					
<!--图文模式s-->
{if($lists)}
{foreach $lists as $v}
<article class="post-list contt blockimg " id="post_382">
                <div class="entry-container"><span class="laid_title_l"></span>
                    <div class="block-image feaimg">
                    <a id="post_a_382" class="block-fea scrollLoading" style="background-image:url({$v['litpic']})" href="{$v['url']}" title="{$v['title']}" ><i class="mask"></i>
                    <span class="vodlist_top"><em class="voddate voddate_year">{$classtypedata[$v['tid']]['classname']}</em></span>
                    </a>
					<div class="entyr-icon"><i class="icon iconfont icon-tupian"></i></div>                    </div>
                    <header class="entry-header"><span class="entry-title"><a href="{$v['url']}">{$v['title']}</a></span></header>
                    <div class="entry-summary ss"><p>{$v['title']}</p></div>
                    <div class="entry-meta">
					{if($v['member_id'])}

					    <div class="author-infos" data-id="382"><img src="{if(!memberInfo($v['member_id'],'litpic'))}{$common}user/images/login.png{else}{fun memberInfo($v['member_id'],'litpic')}{/if}" 
						srcset="{if(!memberInfo($v['member_id'],'litpic'))}{$common}user/images/login.png{else}{fun memberInfo($v['member_id'],'litpic')}{/if}" class="avatar avatar-140 photo" height="25" width="25" >{fun memberInfo($v['member_id'],'username')}				
						<div class="">
					  
					  {else}
 <div class="author-infos" data-id="382"><img src="{if(!memberInfo($v['member_id'],'litpic'))}{$common}user/images/login.png{else}{fun memberInfo($v['member_id'],'litpic')}{/if}" 
 srcset="{if(!memberInfo($v['member_id'],'litpic'))}{$common}user/images/login.png{else}{fun memberInfo($v['member_id'],'litpic')}{/if}" class="avatar avatar-140 photo" height="25" width="25" >{fun adminInfo($v['userid'],'name')}				   <div class="">
					  {/if}

					  <!--作者卡片-->
                       <!--作者卡片-->
					   </div>
					    </div>
					    
					    <span class="separator">/</span><a href="https://www.acgmkan.com/down/">{$classtypedata[$v['tid']]['classname']}</a><span class="separator">/</span><time datetime="2021-01-14">{fun date('Y-m-d',$v['addtime'])}</time>
                        <span class="separator">/</span>
                        {$v['hits']} 阅读 <p class="meta-zan"></p></div> 
                
                </div> 
			
</article>
  {/foreach}	
<!--图文模式e-->
{else}

           
                </header>		
				<div class="row" id="content">
					        <div><p class="listnone">...看起来这里没有任何东西...</p></div>
                        
                   
				</div>	
				{/if}
     	    </div> </div>               
                     
				
		<div class="col-md-3 widget-area " id="secondary">
   
       
   
<section class="widget abautor g_m_i">
<h4 class="widget-title"><i class="icon iconfont icon-paihangbang"></i> <span>置顶文章</span></h4> 
{loop table="article"  isall="1" istop="1" orderby="addtime desc" limit="5" as="v"}
<div class="box-top"><a href="{$v['url']}">
<div class="box-img" style="background-image:url({$v['litpic']});"></div>
</a><div class="box-avatar"><div class="box-avatar-left author-infos" data-id="121">
<img class="rounded-circle" src="{$tpl}style//picture/1eb7441695154cd68d5f831af1516ee8.gif" width="40px" height="40px">
<div class="author-info-card"></div></div><div class="box-avatar-right"><span>
<a href="{$v['url']}">{$v['title']}</a>
</span></div></div></div><div class="widget-box-intro"><i class="icon iconfont icon-dianzan1">
</i> {fun jz_zan($v['tid'],$v['id'])}赞，<i class="icon iconfont icon-remen"></i> 阅读：{$v['hits']}</div></section>

  {/loop}

  
    <!--s--> 
<section class="widget widget-hunter-topics g_m_i">
	<h4 class="widget-title"><i class="icon iconfont icon-huatifuhao"></i> <span>标签TAG</span></h4>
	<div class="items">	
	{loop table="tags" isshow="1" limit="15" as="v"}
    <div class="item "><div class="wall-item">
	
	<a href="{fun U('tags/index',['tagname'=>$v['keywords']])}" rel="tag"><h2> <i class="clr_orange">#</i> {$v['keywords']} </h2></a></div></div>
		{/loop}
</div>
</section>
      <!--s--> 
     <section class="widget g_m_i">
		<h4 class="widget-title"><i class="icon iconfont icon-taolunqu"></i> <span>热点文章</span></h4>
        <ul class="posts-widget">
           {loop table="article"  ishot="1" orderby="addtime desc" limit="6" as="v"}
        <li><div class="widget-posts-text">
		<a class="widget-posts-title" href="{$v['url']}" 
		title="{$v['title']}"><i class="icon iconfont icon-icon-test29">
		</i>{$v['title']}</a><div class="widget-posts-meta"><i>{$v['comment_num']} 评论</i></div></div></li><li>
		
		
		
		{/loop}
	        </ul>
    </section>
         
   	<div class="widget-fixed">
            
 
         
      </section></div></div>
	</div>
</main>
</div><!-- .container -->
<footer class="site-footer fsi">

    <div class="site-info clearfix">
        <div class="container">        
		<!--左边-->
       <div class="footer-left">
            <div class="footer-l-top">
			 
						<a href="/liuy.html">在线留言</a>
						<a href="/sitelink.html">排行榜</a>
						<a href="/about.html">关于我们</a>
						</div>
           <!-- 友情链接 -->               
          <div class="footer-l-btm">
            <p>{$webconf['web_name']}</p>
           
			<p></p>
						</div>
                       <!-- 友情链接 end -->
        </div>
{include="footer"}