

<!DOCTYPE HTML>
<html class="no-js">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="applicable-device" content="pc,mobile">  
  
  
<title>投稿发布 - 漫漫看</title>
<!-- 使用url函数转换相关路径 -->
<link rel="stylesheet" href="{$tpl}style//css/bootstrap.min.css">
<link rel="stylesheet" href="{$tpl}style//css/style.css">
<link rel="stylesheet" href="{$tpl}style//css/iconfont.css" type="text/css" media="all">
<script src="{$tpl}style//js/jquery.min.js"></script>
<script type='text/javascript'>var globals = {"ajax_url":"https://www.acgmkan.com/about.html","web_url":"https://www.acgmkan.com/"};</script>
<!--[if lt IE 9]>
<script src="{$tpl}style//js/html5.min.js"></script>
<script src="{$tpl}style//js/respond.min.js"></script>
<![endif]-->  
  
<!-- 通过自有函数输出HTML头部信息 --> 
<!-- 首页og -->
<!-- 内容页og -->
<meta property="og:title" content="投稿发布">
<meta property="og:type" content="article">
<meta property="og:url" content="https://www.acgmkan.com/contribute.html" />
<meta property="og:description" content="">
  
 
<meta name="description" content="投稿发布" />
<script type="text/javascript">
(function () {
    window.TypechoComment = {
        dom : function (id) {
            return document.getElementById(id);
        },
    
        create : function (tag, attr) {
            var el = document.createElement(tag);
        
            for (var key in attr) {
                el.setAttribute(key, attr[key]);
            }
        
            return el;
        },

        reply : function (cid, coid) {
            var comment = this.dom(cid), parent = comment.parentNode,
                response = this.dom('respond-page-179'), input = this.dom('comment-parent'),
                form = 'form' == response.tagName ? response : response.getElementsByTagName('form')[0],
                textarea = response.getElementsByTagName('textarea')[0];

            if (null == input) {
                input = this.create('input', {
                    'type' : 'hidden',
                    'name' : 'parent',
                    'id'   : 'comment-parent'
                });

                form.appendChild(input);
            }

            input.setAttribute('value', coid);

            if (null == this.dom('comment-form-place-holder')) {
                var holder = this.create('div', {
                    'id' : 'comment-form-place-holder'
                });

                response.parentNode.insertBefore(holder, response);
            }

            comment.appendChild(response);
            this.dom('cancel-comment-reply-link').style.display = '';

            if (null != textarea && 'text' == textarea.name) {
                textarea.focus();
            }

            return false;
        },

        cancelReply : function () {
            var response = this.dom('respond-page-179'),
            holder = this.dom('comment-form-place-holder'), input = this.dom('comment-parent');

            if (null != input) {
                input.parentNode.removeChild(input);
            }

            if (null == holder) {
                return true;
            }

            this.dom('cancel-comment-reply-link').style.display = 'none';
            holder.parentNode.insertBefore(response, holder);
            return false;
        }
    };
})();
</script>
<script type="text/javascript">
(function () {
    var event = document.addEventListener ? {
        add: 'addEventListener',
        triggers: ['scroll', 'mousemove', 'keyup', 'touchstart'],
        load: 'DOMContentLoaded'
    } : {
        add: 'attachEvent',
        triggers: ['onfocus', 'onmousemove', 'onkeyup', 'ontouchstart'],
        load: 'onload'
    }, added = false;

    document[event.add](event.load, function () {
        var r = document.getElementById('respond-page-179'),
            input = document.createElement('input');
        input.type = 'hidden';
        input.name = '_';
        input.value = (function () {
    var _0d9sX8S = //'ZJ'
'ZJ'+'5f'//'5jc'
+//'70'
'70'+'176'//'J'
+//'Z1U'
'1c3'+//'k0'
'76'+//'0R'
'0R'+//'U'
'ca'+'e'//'U'
+'b9'//'gL'
+'f'//'lp'
+'d7e'//'krj'
+''///*'B'*/'B'
+'a7'//'E3'
+//'Lb'
'a'+/* 'VU'//'VU' */''+//'B'
'd'+//'4q'
'f16'+'a00'//'U'
+//'71'
'71'+//'nZ'
'nZ'+//'O'
'203', _ptNJea = [[0,2],[2,4],[10,12],[29,31],[29,31]];
    
    for (var i = 0; i < _ptNJea.length; i ++) {
        _0d9sX8S = _0d9sX8S.substring(0, _ptNJea[i][0]) + _0d9sX8S.substring(_ptNJea[i][1]);
    }

    return _0d9sX8S;
})();

        if (null != r) {
            var forms = r.getElementsByTagName('form');
            if (forms.length > 0) {
                function append() {
                    if (!added) {
                        forms[0].appendChild(input);
                        added = true;
                    }
                }
            
                for (var i = 0; i < event.triggers.length; i ++) {
                    var trigger = event.triggers[i];
                    document[event.add](trigger, append);
                    window[event.add](trigger, append);
                }
            }
        }
    });
})();
</script>  
  
<style type="text/css">body {font-family: webmo!important;}
.image_title{display:none;}
.entry-content p img {
    margin: auto;
    display: block;
}
.logoegg{width: 120px !important;}
@media (max-width: 991px){
.logoegg {  display: none !important;}}
.sp-dark-mode .logoegg {  display: none;}



</style>
  
</head>
<body class=" " style="--theme: #2299DD;">  
<!--[if lt IE 8]>
<div class="browsehappy" role="dialog">当前网页 <strong>不支持</strong> 你正在使用的浏览器. 为了正常的访问, 请 <a href="https://browsehappy.com/">升级你的浏览器</a>.</div>
<![endif]-->
<div class="site-main spimes-container">
<div class="top-bar">  
<div class="container clearnav secnav">
<!--移动端按钮-->
<nav class="navbar navbar-inverse navbar-{$tpl}style/-top">
<div class="container">
<div class="navbar-header">
<div class="m_nav-list" >
<a href="javascript:;" data-toggle="offcanvas" class="lines js-m-navlist">
<span class="line first-line"></span>
<span class="line second-line"></span>
<span class="line third-line"></span>
</a>
</div>
</div>
<div id="navbar" class="collapse navbar-collapse sidebar-offcanvas">
<!--移动导航s-->
<input class="wb-switch wb-yes" id="J_themesSwitchBtn" type="checkbox" onclick="javascript:switchNightMode()">  
<div class="mobile-sidebar-column">
<ul class="mobile-sidebar-menu ultop">
  
<li class="menu-item"><a href="https://www.acgmkan.com/"><i class="icon iconfont icon-icon-test35"></i>首页</a></li>
    <li class="menu-item">
<a href="https://www.acgmkan.com/shipin/" title="动漫视频"><i class="icon iconfont icon-icon-test35"></i>动漫视频</a>
</li>
   <li class="menu-item">
<a href="https://www.acgmkan.com/new/" title="动漫看点"><i class="icon iconfont icon-icon-test35"></i>动漫看点</a>
</li>
   <li class="menu-item">
<a href="https://www.acgmkan.com/down/" title="动漫分享"><i class="icon iconfont icon-icon-test35"></i>动漫分享</a>
</li>
   <li class="menu-item">
<a href="https://www.acgmkan.com/yulu/" title="有趣语录"><i class="icon iconfont icon-icon-test35"></i>有趣语录</a>
</li>
   <li class="menu-item">
<a href="https://www.acgmkan.com/kan/" title="漫漫看"><i class="icon iconfont icon-icon-test35"></i>漫漫看</a>
</li>
<li class="menu-item"> 
<a ><i class="icon iconfont icon-icon-test35"></i>其他<div class="dropdown-sub-menu"><span class="icon iconfont icon-icon-test37"></span></div></a>
<ul class="sub-menu">
   
<li class="menu-item"><a href="https://www.acgmkan.com/ylink.html" title="友情链接">友情链接</a></li><li class="menu-item"><a href="https://www.acgmkan.com/liuy.html" title="在线留言">在线留言</a></li><li class="menu-item"><a href="https://www.acgmkan.com/sitelink.html" title="排行榜">排行榜</a></li><li class="menu-item"><a href="https://www.acgmkan.com/about.html" title="关于我们">关于我们</a></li></ul>  
</li> 
 
</ul>
</div>
<!--移动导航e-->
</div><!--/.nav-collapse -->
</div>
</nav> 
<div class="top-bar-left pull-left navlogo">				
<a href="https://www.acgmkan.com/" class="logo box">
<img src="{$tpl}style//picture/tlogo.png" class="logo-light" id="logo-light" alt="漫漫看" />
<img src="{$tpl}style//picture/tlogo.png" class="logo-dark d-none" id="logo-dark" alt="漫漫看" />
 <b class="shan"></b>
</a>
<img class="logoegg" src="{$tpl}style//picture/qr.gif">
</div>
<div class="search-btn">
<a href="https://www.acgmkan.com/contribute.html" class="btn btn-blue btn-article"><i class="icon iconfont icon-icon-test10"></i> 投稿推荐</a>
</div>
<div class="search-warp clearfix">
<form method="get" action="">
<div class="search-area" >
<input class="search-input" placeholder="搜索感兴趣的知识和文章" type="text" name="s" autocomplete="off" id="soblur">
<!--弹出-->
<ul class="dropdown-menu top_so">
<li><a href="https://www.acgmkan.com/116.html"><span class="rank ran1">1</span> 教练我想要学攀岩，运动番《攀岩！- Sport C.... <i class="view">7.4k 阅读</i></a></li><li><a href="https://www.acgmkan.com/106.html"><span class="rank ran2">2</span> 《合金弹头》系列不为人知的故事，反派BOSS其实才.... <i class="view">6.9k 阅读</i></a></li><li><a href="https://www.acgmkan.com/17.html"><span class="rank ran3">3</span> 哆啦a梦六张图同人事件始末，视频观看 <i class="view">4.6k 阅读</i></a></li><li><a href="https://www.acgmkan.com/4.html"><span class="rank ran4">4</span> 当纯洁的妹妹得知哥哥的女友怀孕时～前方高能！ <i class="view">3.7k 阅读</i></a></li><!--历史-->
<li><span class="vhiy"><i class="cv icon iconfont icon-icon_time"></i>观看历史记录：</span></li>
<div id="jl_viewHistory" >
</div>
<!--历史-->
<div class="s_tag">
<div class="item "><a href="https://www.acgmkan.com/tag/%E9%9A%90%E7%A7%98%E7%9A%84%E8%A7%92%E8%90%BD/" rel="tag"><i>#</i> 隐秘的角落</a></div>
<div class="item "><a href="https://www.acgmkan.com/tag/%E6%82%9F%E7%A9%BA/" rel="tag"><i>#</i> 悟空</a></div>
<div class="item "><a href="https://www.acgmkan.com/tag/%E5%90%8D%E4%BE%A6%E6%8E%A2%E6%9F%AF%E5%8D%97/" rel="tag"><i>#</i> 名侦探柯南</a></div>
<div class="item "><a href="https://www.acgmkan.com/tag/%E9%BE%99%E7%8F%A0/" rel="tag"><i>#</i> 龙珠</a></div>
<div class="item "><a href="https://www.acgmkan.com/tag/%E9%BE%99%E7%8F%A0%E8%B6%85/" rel="tag"><i>#</i> 龙珠超</a></div>
<div class="item "><a href="https://www.acgmkan.com/tag/%E9%AB%98%E6%9C%A8%E5%90%8C%E5%AD%A6/" rel="tag"><i>#</i> 高木同学</a></div>
<div class="item "><a href="https://www.acgmkan.com/tag/%E5%B0%8F%E5%93%80/" rel="tag"><i>#</i> 小哀</a></div>
<div class="item "><a href="https://www.acgmkan.com/tag/%E5%B0%8F%E5%85%B0/" rel="tag"><i>#</i> 小兰</a></div>
<div class="item "><a href="https://www.acgmkan.com/tag/%E5%93%86%E5%95%A6a%E6%A2%A6/" rel="tag"><i>#</i> 哆啦a梦</a></div>
<div class="item "><a href="https://www.acgmkan.com/tag/%E5%85%AD%E5%BC%A0%E5%9B%BE/" rel="tag"><i>#</i> 六张图</a></div>
<div class="item "><a href="https://www.acgmkan.com/tag/%E6%AF%92%E5%8F%AF%E4%B9%90%E6%9D%80%E4%BA%BA%E4%BA%8B%E4%BB%B6/" rel="tag"><i>#</i> 毒可乐杀人事件</a></div>
<div class="item "><a href="https://www.acgmkan.com/tag/%E5%BE%92%E7%84%B6%E5%96%9C%E6%AC%A2%E4%BD%A0/" rel="tag"><i>#</i> 徒然喜欢你</a></div>
<div class="item "><a href="https://www.acgmkan.com/tag/%E5%B9%B3%E5%87%A1%E7%9A%84%E4%B8%96%E7%95%8C/" rel="tag"><i>#</i> 平凡的世界</a></div>
<div class="item "><a href="https://www.acgmkan.com/tag/%E6%97%A5%E6%9C%AC%E5%8A%A8%E6%BC%AB/" rel="tag"><i>#</i> 日本动漫</a></div>
</div>                                
</ul>
<!--弹出-->
</div>
<button class="showhide-search search-form-input" type="submit"><i class="icon iconfont icon-sousuo"></i></button>
</form>
</div>
<!--手机端s-->
<div class="top-bar-right pull-right text-right mobs">
<div class="top-admin">	
<a href="javascript:;" id="soStats" class="sostats_click"><i id="soico" class="icon iconfont icon-sousuo"></i> 搜索</a>
  <a href="https://www.acgmkan.com/denglu.html"><i class="/icon iconfont icon iconfont icon-icon-test24"></i> 登录</a>
 





 <!--搜索框开始-->
<div class="navbar-search socollapse sostats" id="navbar-search" style="">
			<div class="container">
				<form method="get" role="search" id="searchform" class="searchform shadow" action="">
					<div class="input-group">
						<input type="text" name="s" id="s" placeholder="请输入搜索关键词并按回车键…" class="form-control" required="" >
					
						<div class="input-group-append">
							<button class="btn btn-nostyle" type="submit"><i class="icon iconfont icon-sousuo"></i></button>
						</div>
					</div>
<!-- /input-group -->
				</form>
			</div>
</div>
<input class="wb-switch wb-no" id="J_themesSwitchBtn" type="checkbox" onclick="javascript:switchNightMode()">   
</div>
</div>
<!--手机端e-->			
</div>  
<!--s-->
<div class="new_header container clearnav">  
<div class="top-bar-left pull-left navs">
    
 
    			  
<nav class="top-bar-navigation">
<ul class="top-bar-menu">
<li class="menu-item"><a href="https://www.acgmkan.com/"><i class="icon iconfont icon-shouye1"></i> 首页</a></li>					
<!--pc导航s-->              
 
						<li class="drop-down">
                            <a href="#"><i class="icon iconfont icon-huatifuhao"></i> 超话精选 <i class="icon iconfont icon-icon-test37"></i></a>
                            <div class="aui-dow-box aui-dow-box-list">
                                <div class="aui-down-menu clearfix">                      
                                    <ul class="aui-down-menu-list">                                     
                                    <li class="aui-down-menu-list-item aui-top-border">
                                            <a href="https://www.acgmkan.com/55.html">
                                                <p class="aui-down-menu-list-title">
                                                    <i class="icon iconfont icon-huatifuhao"></i>
                                                    全职高手
                                                </p>
                                                <p class="aui-down-menu-list-text">叶修挑战各路高手</p>
                                            </a>
                                        </li><li class="aui-down-menu-list-item aui-top-border">
                                            <a href="https://www.acgmkan.com/55.html">
                                                <p class="aui-down-menu-list-title">
                                                    <i class="icon iconfont icon-huatifuhao"></i>
                                                    全职高手
                                                </p>
                                                <p class="aui-down-menu-list-text">叶修挑战各路高手</p>
                                            </a>
                                        </li><li class="aui-down-menu-list-item aui-top-border">
                                            <a href="https://www.acgmkan.com/55.html">
                                                <p class="aui-down-menu-list-title">
                                                    <i class="icon iconfont icon-huatifuhao"></i>
                                                    全职高手
                                                </p>
                                                <p class="aui-down-menu-list-text">叶修挑战各路高手</p>
                                            </a>
                                        </li><li class="aui-down-menu-list-item aui-top-border">
                                            <a href="https://www.acgmkan.com/55.html">
                                                <p class="aui-down-menu-list-title">
                                                    <i class="icon iconfont icon-huatifuhao"></i>
                                                    全职高手
                                                </p>
                                                <p class="aui-down-menu-list-text">叶修挑战各路高手</p>
                                            </a>
                                        </li>                         
                                    </ul>
                                </div>
                            </div>
                        </li>
						                  
<li class="nav-s"><a href="https://www.acgmkan.com/shipin/" title="动漫视频">动漫视频</a></li>
                  
<li class="nav-s"><a href="https://www.acgmkan.com/new/" title="动漫看点">动漫看点</a></li>
                  
<li class="nav-s"><a href="https://www.acgmkan.com/down/" title="动漫分享">动漫分享</a></li>
                  
<li class="nav-s"><a href="https://www.acgmkan.com/yulu/" title="有趣语录">有趣语录</a></li>
                  
<li class="nav-s"><a href="https://www.acgmkan.com/kan/" title="漫漫看">漫漫看</a></li>
                  
  
<li class="drop-down"> <i class="msg_remind" style="display: inline;"></i>
<a href="#"><i class="icon iconfont icon-gengduo list_i"></i></a>
<ul class="aui-nav-dow">
   
<li><a href="https://www.acgmkan.com/ylink.html" title="友情链接">友情链接</a></li><li><a href="https://www.acgmkan.com/liuy.html" title="在线留言">在线留言</a></li><li><a href="https://www.acgmkan.com/sitelink.html" title="排行榜">排行榜</a></li><li><a href="https://www.acgmkan.com/about.html" title="关于我们">关于我们</a></li></ul>  
</li>
 
<!--pc导航e-->
</ul>
<div id="sidebar-toggle" class="sidebar-toggle">
<span></span>
</div>
</nav>
</div>
<div class="top-bar-right pull-right text-right">
<div class="top-admin">
<!--站点统计开始-->              
<a href="https://www.acgmkan.com/sitelink.html" class="stats_click"><i class="icon iconfont icon-ditu"></i> 排行榜</a>		
  
<a href="javascript:;" id="mStats" class="stats_click"><i class="icon iconfont icon-paihangbang"></i> 统计						<div class="stats">
							<ul>
														<li>建站日期：2017-05-20</li>
																					<li>文章总数：55 篇</li>
							<li>评论总数：52 条</li>
							<li>分类总数：5 个</li>
							<li>最后更新：3月27日</li>
							</ul>
						</div>	
</a>
  
					<!--站点统计结束-->
						<div class="login avt_tl">
			            			                <i class="icon iconfont icon-zengjia"></i><span>登录			                
			                <!--s-->
			                <div class="header__dropdown"> 
			
<div class="login-div notlogin">
<div class="info">
<div class="info-thumb"> <i class="thumb" style="background-image:url({$tpl}style//images/wu-user.png);"></i> </div>
<h2 class="user-name">您还未登录</h2>
<h4 class="user-info">登录体验更多功能</h4>
<a href="https://www.acgmkan.com/denglu.html" class="modal-open btn btn-orange info-btn"> 立即登录 </a>

</div>

</div>

<style>
.login-div {
    background: #fff;
    border-radius: 3px;
    overflow: hidden;
}
.login-div .info {
   
    position: relative;
    padding: 10px 80px;
}
.login-div .info .info-thumb {
    width: 50px;
    position: absolute;
    left: 10px;
    top: 8px;
    border: 4px solid #fff;
    box-shadow: 0 0 30px 0 #eee;
    border-radius: 100%;
}
.login-div .info .info-thumb .thumb {
    padding-top: 100%;
    border-radius: 100%;
    transition: none;
}
.login-div .info h2 {
    font-size: 14px;
    color: #333;
    margin-bottom: 6px;
    line-height: 1.5;
    height: 1.5em;
    overflow: hidden;
}
.login-div .info h4 {
    font-size: 12px;
    color: #888;
    font-weight: normal;
    line-height: 1.5;
    height: 1.5em;
    overflow: hidden;
    margin-bottom: 0px;
}
.login-div .info .info-btn {
        position: absolute;
    right: 20px;
    top: 15px;
    padding: 2px 10px;
    z-index: 10;
    font-size: 12px;
}
.login-div .info .info-btn:hover{ color:#fff; }
</style>
			
</div>			                <!--e-->
			                
			                </span>
			                
			            			            </div>
						<input class="wb-switch" id="J_themesSwitchBtn" type="checkbox" onclick="javascript:switchNightMode()">                
                        <!--夜间白天-->
				</div>
			</div>  
</div>
<!--e-->  
	<div id="percentageCounter"></div>
	</div><!-- .top-bar -->
	<div class="container">
	<main id="main" class="site-main">	


<div class="row member">
    
    

    <!--边栏-->
    <div class="col-md-2 widget-area " id="secondary">
    <section class="widget ">
    <ul class="user-tips">
    
    <li><b>尊重原创</b><p>请不要发布任何盗版下载链接，包括软件、音乐、电影等等。我们尊重原创。</p></li>
    
    <li><b>友好互助</b><p>您的文章将会有成千上万人阅读，保持对陌生人的友善，用知识去帮助别人也是一种快乐。</p></li>
    
    <li><b>处罚</b><p>禁止发布垃圾广告</p><p>发现垃圾广告，本站会立刻封停您的账户</p></li>
    
    
    </ul>
    </section>
    </div>
    <!--边栏-->
    
    
	<div class="col-md-10 contpost user_center" id="content" >
	    

    <!--投稿s-->
    
        <link rel="stylesheet" href="{$tpl}style//css/jquery-markdown.css">
        <link rel="stylesheet" href="{$tpl}style//css/font-awesome.css">
        <script type="text/javascript" src="{$tpl}style//js/jquery-2.0.2.min.js"></script>
        <script type="text/javascript" src="{$tpl}style//js/jquery-markdown.js"></script>
		<script src="{$tpl}style//js/parser.js"></script>

    
    
      <form action="https://www.acgmkan.com/action/contents-post-edit?_=5f1761c376caeb9fd7ea7adf16a00203" method="post" name="write_post">  
                           
      <div class="tougao__form"> 
      <p class="pos_z">
      <input id="title" name="title" value="" placeholder="标题不少于5个字">
      <i class="icon iconfont icon-icon-test10"></i>
      </p>
      <div class="tips">好的标题能引起读者的兴趣，（但禁止标题党哦～）目前建议标题字数控制在30字以内</div>
      </div>
      
      
      <input type="hidden" id="po_img" name="fields[img]" value="" placeholder="封面地址">

      
      <div class="tougao__form">
      <p class="pos_z">
      <input  name="fields[videourl]" value="" placeholder="粘贴视频链接，支持bilibili、优酷、腾讯视频">
      <i class="icon iconfont icon-icon-test15"></i>
      </p>
      <div class="tips">视频帮助读者快速了解内容，请勿上传色情，反动等违法视频哦</div>
      </div> 
      
      <!--多图-->
       
      <!--多图-->
      
      
    <!--上传附件-->
    <div id="upload-panel" class="p">
    
    <div class="upload-area" draggable="true">拖放文件到这里<br>或者 <a href="###" class="upload-file">选择文件上传</a></div>
    <ul id="file-list" class="Up_img">
   
    </ul>
    </div>

           

     
      <!--上传附件-->
      
      <div class="item">
					
	    <!--编辑器-->
	    <div id="md-container">
            <div id="md-header">
                <button type="button" title="加粗" id="md-bold"><i class="fa fa-bold"></i></button>
                <button type="button" title="斜体" id="md-italic"><i class="fa fa-italic"></i></button>
                <button type="button" title="1号标题" id="md-h1"><i class="fa fa-header">1</i></button>
                <button type="button" title="2号标题" id="md-h2"><i class="fa fa-header">2</i></button>
                <button type="button" title="3号标题" id="md-h3"><i class="fa fa-header">3</i></button>
                <button type="button" title="4号标题" id="md-h4"><i class="fa fa-header">4</i></button>
                <button type="button" title="链接" id="md-link"><i class="fa fa-link"></i></button>
                <button type="button" title="图片" id="md-image"><i class="fa fa-file-photo-o"></i></button>
                <button type="button" title="引用" id="md-quote"><i class="fa fa-quote-left"></i></button>
                <button type="button" title="代码" id="md-code"><i class="fa fa-code"></i></button>
                <button type="button" title="分割线" id="md-hr"><i class="fa fa-minus"></i></button>
                <button type="button" title="数字列表" id="md-numList"><i class="fa fa-list-ol"></i></button>
                <button type="button" title="点列表" id="md-bulletList"><i class="fa fa-list-ul"></i></button>
                <button type="button" title="预览效果" id="md-build"><i id="md-build-i" class="fa fa-eye"></i></button>
                <button type="button" title="语法范文" id="md-fwen">
                <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                </button>
            </div>
            <textarea id="md-editor" name="text"></textarea>
            <div id="md-build-div" class="entry-content"></div>
        </div>
	    <!--编辑器-->
                         
	</div>
						
						
						<div class="item">
							
							<div style="display:none;" id="tag_input">
								<input name="tags" class="text" maxlength="2" type="text" value="" style="width:60px;">
								
								<span style="margin-left: 10px; font-size: 12px;">标签为两个汉字（如电影、工作等，清晰、合理的标签可以让话题更有价值。）</span>
							</div>
						</div>

						<input type="hidden" name="do" value="publish" /><!--公开，可以无视-->
						<input type="hidden" id="allowComment" name="allowComment" value="1" checked="true" /><!--允许评论-->
				        <input type="hidden" name="markdown" value="1">	
				        <input type="hidden" value="3" name="category[]">
				        
		<!--提交-->
		<div class="tougao_btn">
		 
        <button id="myBtn" type="submit" disabled="disabled" class="con_btn"><i class="icon iconfont icon-chuangzuo"></i> 发布</button> 
        <button type="submit" name="do" value="save" id="btn-save" class="btn con_btn" disabled="disabled"><i class="icon iconfont icon-icon-test4"></i> 保存</button>
         
        </div>
        <!--提交-->
                        
					</form> 
    <!--投稿e-->
 
	  <div class="meb_top active"> 
<p>投稿专栏是一个面向全体用户的图文阅读专栏。为了给大家提供图文创作与分享的空间，感受将文字分享于他人的喜悦。

为了给Up主更多样化的内容呈现形式，让用户体验写作与阅读的快感。</p>

<p>欢迎各位的加入～</p>
</div>
	    
	    
	
    </div>
	
</div>
</main>
</div><!-- .container -->
<footer class="site-footer fsi">

    <div class="site-info clearfix">
        <div class="container">        
		<!--左边-->
       <div class="footer-left">
            <div class="footer-l-top">
			 
						<a href="https://www.acgmkan.com/ylink.html">友情链接</a>
						<a href="https://www.acgmkan.com/liuy.html">在线留言</a>
						<a href="https://www.acgmkan.com/sitelink.html">排行榜</a>
						<a href="https://www.acgmkan.com/about.html">关于我们</a>
						</div>
           <!-- 友情链接 -->               
            <div class="footer-l-btm">
            <p>ACG动漫、韩漫、日漫PDF漫画下载 页面执行：44 ms</p>
			<p></p>
						</div>
                       <!-- 友情链接 end -->
        </div>
		<!--右边-->
        <div class="footer-right">
		            
        </div>
        </div>
    </div>    
</footer>
<a href="#" id="scroll-to-top"><span class="text-lg icon iconfont icon-icon-test26"></span></a>
</div>
<script src="{$tpl}style//js/jquery.pjax.js"></script>
<nav class="navigation-tab">
<div class="navigation-tab-item"><a data-pjax href="https://www.acgmkan.com"><span class="navigation-tab__icon"><i class="icon iconfont  icon-shouye"></i></span></a></div><div class="navigation-tab-item"><a data-pjax href="https://www.acgmkan.com"><span class="navigation-tab__icon"><i class="icon iconfont  icon iconfont icon-icon-test24"></i></span></a></div><div class="navigation-tab-item"><a data-pjax href="https://www.acgmkan.com"><span class="navigation-tab__icon"><i class="icon iconfont  icon iconfont icon-paihangbang"></i></span></a></div><div class="navigation-tab-item"><a data-pjax href="https://www.acgmkan.com"><span class="navigation-tab__icon"><i class="icon iconfont  icon iconfont iconfont icon-shoucang"></i></span></a></div>  
<div class="navigation-tab-overlay"></div>
</nav>

<script>
//底部移动端菜单pjax
$(document).pjax('a[data-pjax]', {
    container: '#main',
    fragment: '#main',
    timeout: 8000,
	scrollTo: true
}).on('pjax:send',
function() {
    NProgress.start();
}).on('pjax:complete',
function() {
    NProgress.done();	
})
</script>


<script src="{$tpl}style//js/swiper.min.js"></script>
<link rel="stylesheet" href="{$tpl}style//css/owo.min.css" type="text/css" media="all">
<script src="{$tpl}style//js/owo.js"></script>

<div class="mobile-overlay"></div>
  
<script src="{$tpl}style//js/script.js"></script>
<script src="{$tpl}style//js/viewhistory.js"></script>
<script src="{$tpl}style//js/instantpage-5.1.0.js" type="module" defer></script>
<script type="text/javascript"></script> 
<script>

</script>
<script>
jl_viewHistory({
    limit: 4,
    storageKey: 'jl_viewHistory',
    primaryKey: 'url',
    addHistory: false,
    titleSplit: '|'
});
</script>
</body>
</html><link rel="stylesheet" href="{$tpl}style//css/popup.css">
<script> showMessage('游客无权限投稿哦！',2000,true,'bounceInDown-hastrans','bounceOutDown-hastrans');</script>
<script src="{$tpl}style//js/jquery-ui.js"></script>
<script src="{$tpl}style//js/typecho.js"></script>
<script>
    (function () {
        $(document).ready(function() {
            // 处理消息机制
            (function () {
                var prefix = '87ccd0233c0a0eb205527edeefed199f',
                    cookies = {
                        notice      :   $.cookie(prefix + '__typecho_notice'),
                        noticeType  :   $.cookie(prefix + '__typecho_notice_type'),
                        highlight   :   $.cookie(prefix + '__typecho_notice_highlight')
                    },
                    path = '/';

                if (!!cookies.notice && 'success|notice|error'.indexOf(cookies.noticeType) >= 0) {
                    var head = $('.typecho-head-nav'),
                        p = $('<div class="message popup ' + cookies.noticeType + '">'
                        + '<ul><li>' + $.parseJSON(cookies.notice).join('</li><li>') 
                        + '</li></ul></div>'), offset = 0;

                    if (head.length > 0) {
                        p.insertAfter(head);
                        offset = head.outerHeight();
                    } else {
                        p.prependTo(document.body);
                    }

                    function checkScroll () {
                        if ($(window).scrollTop() >= offset) {
                            p.css({
                                'position'  :   'fixed',
                                'top'       :   0
                            });
                        } else {
                            p.css({
                                'position'  :   'absolute',
                                'top'       :   offset
                            });
                        }
                    }

                    $(window).scroll(function () {
                        checkScroll();
                    });

                    checkScroll();

                    p.slideDown(function () {
                        var t = $(this), color = '#C6D880';
                        
                        if (t.hasClass('error')) {
                            color = '#FBC2C4';
                        } else if (t.hasClass('notice')) {
                            color = '#FFD324';
                        }

                        t.effect('highlight', {color : color})
                            .delay(5000).fadeOut(function () {
                            $(this).remove();
                        });
                    });

                    
                    $.cookie(prefix + '__typecho_notice', null, {path : path});
                    $.cookie(prefix + '__typecho_notice_type', null, {path : path});
                }

                if (cookies.highlight) {
                    $('#' + cookies.highlight).effect('highlight', 1000);
                    $.cookie(prefix + '__typecho_notice_highlight', null, {path : path});
                }
            })();



        });
    })();
</script>


<script src="{$tpl}style//js/moxie.js"></script>
<script src="{$tpl}style//js/plupload.js"></script>
<script>

$(document).ready(function() {
    function updateAttacmentNumber () {
        var btn = $('#tab-files-btn'),
            balloon = $('.balloon', btn),
            count = $('#file-list li .insert').length;

        if (count > 0) {
            if (!balloon.length) {
                btn.html($.trim(btn.html()) + ' ');
                balloon = $('<span class="balloon"></span>').appendTo(btn);
            }

            balloon.html(count);
        } else if (0 == count && balloon.length > 0) {
            balloon.remove();
        }
    }

    $('.upload-area').bind({
        dragenter   :   function () {
            $(this).parent().addClass('drag');
        },

        dragover    :   function (e) {
            $(this).parent().addClass('drag');
        },

        drop        :   function () {
            $(this).parent().removeClass('drag');
        },
        
        dragend     :   function () {
            $(this).parent().removeClass('drag');
        },

        dragleave   :   function () {
            $(this).parent().removeClass('drag');
        }
    });

    updateAttacmentNumber();

    function fileUploadStart (file) {
        $('<li id="' + file.id + '" class="loading">'
            + file.name + '</li>').appendTo('#file-list');
    }

    function fileUploadError (error) {
        var file = error.file, code = error.code, word; 
        
        switch (code) {
            case plupload.FILE_SIZE_ERROR:
                word = '文件大小超过限制';
                break;
            case plupload.FILE_EXTENSION_ERROR:
                word = '文件扩展名不被支持';
                break;
            case plupload.FILE_DUPLICATE_ERROR:
                word = '文件已经上传过';
                break;
            case plupload.HTTP_ERROR:
            default:
                word = '上传出现错误';
                break;
        }

        var fileError = '%s 上传失败'.replace('%s', file.name),
            li, exist = $('#' + file.id);

        if (exist.length > 0) {
            li = exist.removeClass('loading').html(fileError);
        } else {
            li = $('<li>' + fileError + '<br />' + word + '</li>').appendTo('#file-list');
        }

        li.effect('highlight', {color : '#FBC2C4'}, 2000, function () {
            $(this).remove();
        });

        // fix issue #341
        this.removeFile(file);
    }

    var completeFile = null;
    function fileUploadComplete (id, url, data) {
        var li = $('#' + id).removeClass('loading').data('cid', data.cid)
            .data('url', data.url)
            .data('image', data.isImage)
            .html('<input type="hidden" name="attachment[]" value="' + data.cid + '" />'
                + '<a class="insert" href="###" title="点击插入文件"><img title="'+data.title+'" src="'+data.url + '"></a><div class="info">' + data.bytes
                //+ ' <a class="file" target="_blank" href="https://www.acgmkan.com/admin/media.php?cid=' 
                //+ data.cid + '" title="编辑"><i class="icon iconfont icon-icon-test10"></i></a>'
                + ' <a class="delete" href="###" title="删除"><i class="icon iconfont icon-shanchu"></i></a><a href="###" class="fimg" title="封面"><i class="icon iconfont icon-tupian"></i></a></div>')
            .effect('highlight', 1000);
            
        attachInsertEvent(li);
        attachDeleteEvent(li);
        attachfimgEvent(li);
        updateAttacmentNumber();

        if (!completeFile) {
            completeFile = data;
        }
    }

   
        var uploader = new plupload.Uploader({
            browse_button   :   $('.upload-file').get(0),
            url             :   'https://www.acgmkan.com/action/upload?_=5f1761c376caeb9fd7ea7adf16a00203',
            runtimes        :   'html5,flash,html4',
            flash_swf_url   :   'https://www.acgmkan.com/admin/js/Moxie.swf',
            drop_element    :   $('.upload-area').get(0),
            filters         :   {
                max_file_size       :   '50mb',
                mime_types          :   [{'title' : '允许上传的文件', 'extensions' : 'gif,jpg,jpeg,png,tiff,bmp'}],
                prevent_duplicates  :   true
            },

            init            :   {
                FilesAdded      :   function (up, files) {
                    for (var i = 0; i < files.length; i ++) {
                        fileUploadStart(files[i]);
                    }

                    completeFile = null;
                    uploader.start();
                },

                UploadComplete  :   function () {
                    if (completeFile) {
                        Typecho.uploadComplete(completeFile);
                    }
                },

                FileUploaded    :   function (up, file, result) {
                    if (200 == result.status) {
                        var data = $.parseJSON(result.response);

                        if (data) {
                            fileUploadComplete(file.id, data[0], data[1]);
                            uploader.removeFile(file);
                            return;
                        }
                    }

                    fileUploadError.call(uploader, {
                        code : plupload.HTTP_ERROR,
                        file : file
                    });
                },

                Error           :   function (up, error) {
                    fileUploadError.call(uploader, error);
                }
            }
        });

        uploader.init();
   

    function attachInsertEvent (el) {
        $('.insert', el).click(function () {
            
            var t = $(this), p = t.parents('li');
            
            var settings = $.extend({
        default_image_url: p.data('url'),
        default_alt_text: prompt('添加图片描述',p.data('title'))
    }, el);
    $('#md-editor').textReplace({
        selected: function(image_alt_text) {
            if(settings.default_alt_text !== null &&  settings.default_alt_text !== false){
              return '![' + settings.default_alt_text + '](' + settings.default_image_url + ')';
            }else{
              return false;
            }
        },
        no_selection: function() {
            if(settings.default_alt_text !== null &&  settings.default_alt_text !== false){
                return '![' + settings.default_alt_text + '](' + settings.default_image_url + ')';
            }else{
                return false;
            }
        }
    });
            
            
        });
    }




    function attachDeleteEvent (el) {
        var file = $('a.insert', el).text();
        $('.delete', el).click(function () {
            if (confirm('确认要删除此文件吗?')) {
                var cid = $(this).parents('li').data('cid');
                $.post('https://www.acgmkan.com/action/contents-attachment-edit?_=5f1761c376caeb9fd7ea7adf16a00203',
                    {'do' : 'delete', 'cid' : cid},
                    function () {
                        $(el).fadeOut(function () {
                            $(this).remove();
                            updateAttacmentNumber();
                        });
                    });
            }

            return false;
        });
    }
    
    function attachfimgEvent (el) {
       
        var title = $('a.insert img', el).attr('src');//获取title内容
        $('.fimg', el).click(function () {
            if (confirm('设置为文章封面图?')) {
                $('#po_img').val(title);
                $("a.insert .picsum-icon").remove();
                $('a.insert img', el).after("<div class='picsum-icon p_color'>封面</div>");
            }

            return false;
        });
    }

    $('#file-list li').each(function () {
        attachInsertEvent(this);
        attachDeleteEvent(this);
        attachfimgEvent(this);
    });
});
</script>

<!--以下是图片复制粘贴上传处理-->
<script>
// 粘贴文件上传
$(document).ready(function () {
    // 上传URL
    var uploadUrl = 'https://www.acgmkan.com/action/upload?_=5f1761c376caeb9fd7ea7adf16a00203';
    // 处理有特定的 CID 的情况
    var cid = $('input[name="cid"]').val();
    if (cid) {
        uploadUrl += '&cid=' + cid;
    }

    // 上传文件函数
    function uploadFile(file) {
        // 生成一段随机的字符串作为 key
        var index = Math.random().toString(10).substr(2, 5) + '-' + Math.random().toString(36).substr(2);
        // 默认文件后缀是 png，在Chrome浏览器中剪贴板粘贴的图片都是png格式，其他浏览器暂未测试
        var fileName = index + '.png';

        // 上传时候提示的文字
        var uploadingText = '[图片上传中...(' + index + ')]';

        // 先把这段文字插入
        var textarea = $('#md-editor'), sel = textarea.getSelection(),
        offset = (sel ? sel.start : 0) + uploadingText.length;
        textarea.replaceSelection(uploadingText);
        // 设置光标位置
        textarea.setSelection(offset, offset);

        // 设置附件栏信息
        // 先切到附件栏
        $('#tab-files-btn').click();

        // 更新附件的上传提示
        var fileInfo = {
            id: index,
            name: fileName
        }
        fileUploadStart(fileInfo);

        // 是时候展示真正的上传了
        var formData = new FormData();
        formData.append('name', fileName);
        formData.append('file', file, fileName);

        $.ajax({
            method: 'post',
            url: uploadUrl,
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
                var url = data[0], title = data[1].title;
                textarea.val(textarea.val().replace(uploadingText, '![' + title + '](' + url + ')'));
                // 触发输入框更新事件，把状态压人栈中，解决预览不更新的问题
                textarea.trigger('paste');
                // 附件上传的UI更新
                fileUploadComplete(index, url, data[1]);
            },
            error: function (error) {
                textarea.val(textarea.val().replace(uploadingText, '[图片上传错误...]\n'));
                // 触发输入框更新事件，把状态压人栈中，解决预览不更新的问题
                textarea.trigger('paste');
                // 附件上传的 UI 更新
                fileUploadError(fileInfo);
            }
        });
    }

    // 监听输入框粘贴事件
    document.getElementById('md-editor').addEventListener('paste', function (e) {
      var clipboardData = e.clipboardData;
      var items = clipboardData.items;
      for (var i = 0; i < items.length; i++) {
        if (items[i].kind === 'file' && items[i].type.match(/^image/)) {
          // 取消默认的粘贴操作
          e.preventDefault();
          // 上传文件
          uploadFile(items[i].getAsFile());
          break;
        }
      }
    });



    //
    // 以下代码均来自 /admin/file-upload-js.php，无奈只好复制粘贴过来实现功能
    //

    // 更新附件数量显示
    function updateAttacmentNumber () {
        var btn = $('#tab-files-btn'),
            balloon = $('.balloon', btn),
            count = $('#file-list li .insert').length;

        if (count > 0) {
            if (!balloon.length) {
                btn.html($.trim(btn.html()) + ' ');
                balloon = $('<span class="balloon"></span>').appendTo(btn);
            }

            balloon.html(count);
        } else if (0 == count && balloon.length > 0) {
            balloon.remove();
        }
    }

    // 开始上传文件的提示
    function fileUploadStart (file) {
        $('<li id="' + file.id + '" class="loading">'
            + file.name + '</li>').appendTo('#file-list');
    }

    // 上传完毕的操作
    var completeFile = null;
     function fileUploadComplete (id, url, data) {
        var li = $('#' + id).removeClass('loading').data('cid', data.cid)
            .data('url', data.url)
            .data('image', data.isImage)
            .html('<input type="hidden" name="attachment[]" value="' + data.cid + '" />'
                + '<a class="insert" href="###" title="点击插入文件"><img title="'+data.title+'" src="'+data.url + '"></a><div class="info">' + data.bytes
                //+ ' <a class="file" target="_blank" href="https://www.acgmkan.com/admin/media.php?cid=' 
                //+ data.cid + '" title="编辑"><i class="icon iconfont icon-icon-test10"></i></a>'
                + ' <a class="delete" href="###" title="删除"><i class="icon iconfont icon-shanchu"></i></a><a href="###" class="fimg" title="封面"><i class="icon iconfont icon-tupian"></i></a></div>')
            .effect('highlight', 1000);
            
            

        attachInsertEvent(li);
        attachDeleteEvent(li);
        attachfimgEvent(li);
        updateAttacmentNumber();

        if (!completeFile) {
            completeFile = data;
        }
    }


    function attachInsertEvent (el) {
        $('.insert', el).click(function () {
            
            var t = $(this), p = t.parents('li');
            
            var settings = $.extend({
        default_image_url: p.data('url'),
        default_alt_text: prompt('添加图片描述',p.data('title'))
    }, el);
    $('#md-editor').textReplace({
        selected: function(image_alt_text) {
            if(settings.default_alt_text !== null &&  settings.default_alt_text !== false){
              return '![' + settings.default_alt_text + '](' + settings.default_image_url + ')';
            }else{
              return false;
            }
        },
        no_selection: function() {
            if(settings.default_alt_text !== null &&  settings.default_alt_text !== false){
                return '![' + settings.default_alt_text + '](' + settings.default_image_url + ')';
            }else{
                return false;
            }
        }
    });
            
            
        });
    }


    // 增加删除事件
    function attachDeleteEvent (el) {
        var file = $('a.insert', el).text();
        $('.delete', el).click(function () {
            if (confirm('确认要删除文件 %s 吗?'.replace('%s', file))) {
                var cid = $(this).parents('li').data('cid');
                $.post('https://www.acgmkan.com/action/contents-attachment-edit?_=5f1761c376caeb9fd7ea7adf16a00203',
                    {'do' : 'delete', 'cid' : cid},
                    function () {
                        $(el).fadeOut(function () {
                            $(this).remove();
                            updateAttacmentNumber();
                        });
                    });
            }

            return false;
        });
    }
    
     function attachfimgEvent (el) {
       
        var title = $('a.insert img', el).attr('src');//获取title内容
        $('.fimg', el).click(function () {
            if (confirm('设置为文章封面图?')) {
                $('#po_img').val(title);
                $("a.insert .picsum-icon").remove();
                $('a.insert img', el).after("<div class='picsum-icon p_color'>封面</div>");
            }

            return false;
        });
    }
    
     $('#file-list li').each(function () {
        attachInsertEvent(this);
        attachDeleteEvent(this);
        attachfimgEvent(this);
    });

    // 错误处理，相比原来的函数，做了一些微小的改造
    function fileUploadError (file) {
        var word;

        word = '上传出现错误';

        var fileError = '%s 上传失败'.replace('%s', file.name),
            li, exist = $('#' + file.id);

        if (exist.length > 0) {
            li = exist.removeClass('loading').html(fileError);
        } else {
            li = $('<li>' + fileError + '<br />' + word + '</li>').appendTo('#file-list');
        }

        li.effect('highlight', {color : '#FBC2C4'}, 2000, function () {
            $(this).remove();
        });
    }
})
</script>